body{
    align-content: center;
    align-items: center;
    text-align: center;
    font: 13px;
    font-family: 'Courier New', Courier, monospace;
    background-color: burlywood;
}

#nav-bar{
    top: auto;
    align-self: start;
    padding-right:30px;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
#submit{
    color: red;
}
h1{
    font-size: 30px;
}
h3{
    font-size: 25px;
    color: wheat;
}
#email{
    padding: 8px;
}
#submit{
    padding: 8px;
}
@media only screen and (min-width: 480px) and (max-width: 600px) {
    
}